::-moz-selection {
    background: #222;
    color: #fff
}

::selection {
    background: #222;
    color: #fff
}

body {
    background-color: #fff;
    color: #616161;
    rgba(26, 26, 26, 0.7)
}

header {
    margin-bottom: 15px
}

.btn-download {
    background-color: #f0ad4e;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#f0ad4e), to(#ec971f));
    background-image: -webkit-linear-gradient(top, #f0ad4e, 0, #ec971f, 100%);
    background-image: -moz-linear-gradient(top, #f0ad4e 0, #ec971f 100%);
    background-image: linear-gradient(to bottom, #f0ad4e 0, #ec971f 100%);
    background-repeat: repeat-x;
    border-color: #eb9316;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0)
}

.btn-download:active,
.btn-download:hover {
    background: #ec971f;
    border-color: #eb9316
}

h2 {
    margin-top: 0;
    text-transform: uppercase;
    color: #4a4a4a;
    font-weight: 600
}

h3 {
    text-transform: uppercase;
    color: #222;
    font-weight: 600
}

h2 a,
h2 a:active,
h2 a:link,
h2 a:visited {
    color: #222;
    font-weight: 700;
    font-size: 125%;
    text-decoration: none;
    transition: color ease .3s
}

h2 a:hover {
    color: #4a4a4a;
    text-decoration: none
}

.btn-outline-blue {
    background: #fff;
    border: 3px solid #00a3e5;
    border-radius: 0;
    color: #00a3e5
}

.btn-outline-blue:link,
.btn-outline-blue:visited {
    color: #00a3e5
}

.btn-outline-blue:active,
.btn-outline-blue:hover {
    background: #00a3e5;
    color: #fff
}

.notice {
    text-align: center;
    padding: 15px 10px;
    margin-top: 0;
    margin-bottom: 30px;
    color: #777;
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
    border-radius: 0
}

.btn-xl {
    padding: 15px 22px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 6px
}

.table th {
    color: #005570;
    font-size: 18px;
    text-align: center;
    vertical-align: middle
}

.table td {
    text-align: center
}

.breadcrumb {
    background-color: #fff;
    margin-top: 0;
    margin-left: -15px;
    margin-bottom: 10px
}

.nav-pills>li.current-menu-item>a,
.nav-pills>li.current-menu-item>a:focus,
.nav-pills>li.current-menu-item>a:hover,
.sidebar-nav .current-menu-item {
    background-color: #eee
}

.nav-pills>li>a {
    background-color: #fafafa;
    border-radius: 5px
}

.btn-invert {
    color: #fff;
    background: #474949;
    border-color: #111
}

.btn-invert.active,
.btn-invert:active,
.btn-invert:hover {
    background: #3a3c3c;
    border-color: #111;
    color: #fff
}

.btn-invert:hover {
    color: #fff;
    border-color: #000;
    background: #3a3c3c
}

.share {
    margin-top: 15px;
    margin-bottom: 0
}

.btn-purple,
.btn-purple:visited,
btn-purple:link {
    color: #a64686;
    background: #fff;
    border: 3px solid #a64686
}

.btn-purple.active,
.btn-purple:active {
    background-color: #a64686;
    border-color: #a64686;
    color: #fff
}

.btn-purple:hover {
    color: #fff;
    border-color: #a64686;
    background: #a64686
}

.btn-inverse,
.btn-search:hover,
.btn-white:hover {
    color: #222;
    background: #ccc;
    border: 1px solid #ccc
}

.btn-inverse.active,
.btn-inverse:active {
    background-color: #fff;
    color: #222;
    border: 1px solid #ccc
}

.btn-inverse:hover {
    background: #fff;
    border: 1px solid #ccc
}

.panel .nav>li>a:focus,
.panel .nav>li>a:hover {
    text-decoration: none;
    color: #d87900;
    background-color: #fed086
}

.well h3 {
    margin-top: 10px
}

.highlight {
    background: #f9e08e
}

.footer>.col-lg-12,
footer .col-lg-12 {
    margin-top: 0
}

.feature-heading h2 {
    font-size: 20px;
    line-height: 30px
}

.navbar-brand,
a.navbar-brand,
a.navbar-brand:active,
a.navbar-brand:link,
a.navbar-brand:visited {
    font-size: 125%;
    background-color: none;
    font-weight: 600;
    color: #fff
}

a.navbar-brand:hover {
    background-color: none;
    color: #fff
}

.wrap .col-lg-12,
.wrap .col-lg-3,
.wrap .col-lg-9 {
    margin-top: 0
}

.jumbotron {
    margin-top: -30px;
    margin-bottom: 6rem;
    border-bottom: 0;
    padding-top: 90px;
    padding-bottom: 120px;
    border-radius: 0;
    text-align: center;
    color: #fcf1de;
    font-size: 175%
}

.jumbotron h1 {
    text-align: center;
    font-weight: 500;
    color: #fff;
    font-size: 60px;
    text-transform: none
}

.panel .nav>li {
    border-top: 1px solid #ddd
}

.panel-body p {
    margin-bottom: 0
}

.post-nav {
    margin-top: 20px
}

.btn-danger a,
.btn-danger a:active,
.btn-danger a:hover,
.btn-danger a:link,
.btn-danger a:visited,
.btn-danger:hover,
.btn-danger:link,
.btn-danger:visited,
.btn-default a,
.btn-default a:active,
.btn-default a:hover,
.btn-default a:link,
.btn-default a:visited,
.btn-default:hover,
.btn-default:link,
.btn-default:visited,
.btn-info a,
.btn-info a:active,
.btn-info a:hover,
.btn-info a:link,
.btn-info a:visited,
.btn-info:hover,
.btn-info:link,
.btn-info:visited,
.btn-primary a,
.btn-primary a:active,
.btn-primary a:hover,
.btn-primary a:link,
.btn-primary a:visited,
.btn-primary:hover,
.btn-primary:link,
.btn-primary:visited,
.btn-success a,
.btn-success a:active,
.btn-success a:hover,
.btn-success a:link,
.btn-success a:visited,
.btn-success:hover,
.btn-success:link,
.btn-success:visited,
.btn-warning a,
.btn-warning a:active,
.btn-warning a:hover,
.btn-warning a:link,
.btn-warning a:visited,
.btn-warning:hover,
.btn-warning:link,
.btn-warning:visited,
a.btn-connect,
a.btn-connect:active,
a.btn-connect:hover,
a.btn-jumbotron,
a.btn-jumbotron:active,
a.btn-jumbotron:hover,
a.btn-jumbotron:link,
a.btn-jumbotron:visited {
    color: #fff;
    text-decoration: none
}

.btn-inverse a,
.btn-inverse a:active,
.btn-inverse a:hover,
.btn-inverse a:link,
.btn-inverse a:visited,
.btn-inverse:hover,
.btn-inverse:link,
.btn-inverse:visited,
.btn-white a,
.btn-white a:active,
.btn-white a:hover,
.btn-white a:link,
.btn-white a:visited,
.btn-white:hover,
.btn-white:link,
.btn-white:visited {
    color: #333;
    text-decoration: none
}

.centered-pills {
    text-align: center
}

.centered-pills ul.nav-pills {
    display: inline-block
}

.centered-pills li {
    display: inline
}

.centered-pills a {
    float: left
}

* html .centered-pills ul.nav-pills,
.navbar-brand img {
    margin-top: -7px
}

.btn-jumbotron {
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#5cb85c), to(#449d44));
    background-image: -webkit-linear-gradient(top, #5cb85c, 0, #449d44, 100%);
    background-image: -moz-linear-gradient(top, #5cb85c 0, #449d44 100%);
    background-image: linear-gradient(to bottom, #5cb85c 0, #449d44 100%);
    background-repeat: repeat-x;
    border-color: #41693d;
    background-color: #449d44;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0)
}

.btn-jumbotron:active,
.btn-success.active {
    background-color: #449d44;
    border-color: #41693d
}

.btn-connect {
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#333), to(#222));
    background-image: -webkit-linear-gradient(top, #333, 0, #222, 100%);
    background-image: -moz-linear-gradient(top, #333 0, #222 100%);
    background-image: linear-gradient(to bottom, #333 0, #222 100%);
    background-repeat: repeat-x;
    border-color: #000;
    background-color: #333;
    color: #fff;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222222', GradientType=0)
}

.btn-connect.active,
.btn-connect:active {
    background-color: #333;
    border-color: #000;
    color: #fff
}

.btn-connect:hover {
    color: #fff
}

.table td,
.table-bordered td,
.table>tbody>tr>td,
td {
    vertical-align: middle
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) {
    .navbar-brand,
    .navbar-brand a,
    a.navbar-brand {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700
    }
}

@media only screen and (min-device-width:320px) and (max-device-width:568px) {
    .navbar-brand,
    .navbar-brand a,
    a.navbar-brand {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700
    }
}

.post-meta,
.post-meta a,
.post-meta a:active,
.post-meta a:link,
.post-meta a:visited {
    color: #9eabb3
}

.main a {
    transition: color ease .3s
}

.row h1,
.sidebar h2 {
    margin-top: 0
}

.table .center {
    vertical-align: middle
}

.page-header {
    margin-top: 0
}

.btn-twitter {
    background: #00acee;
    border-radius: 0;
    color: #fff
}

.btn-twitter:link,
.btn-twitter:visited {
    color: #fff
}

.btn-twitter:active,
.btn-twitter:hover {
    background: #0087bd;
    color: #fff
}

.btn-facebook {
    background: #3b5998;
    border-radius: 0;
    color: #fff
}

.btn-facebook:link,
.btn-facebook:visited {
    color: #fff
}

.btn-facebook:active,
.btn-facebook:hover {
    background: #30477a;
    color: #fff
}

.btn-googleplus {
    background: #e93f2e;
    border-radius: 0;
    color: #fff
}

.btn-googleplus:link,
.btn-googleplus:visited {
    color: #fff
}

.btn-googleplus:active,
.btn-googleplus:hover {
    background: #ba3225;
    color: #fff
}

.btn-stumbleupon {
    background: #f74425;
    border-radius: 0;
    color: #fff
}

.btn-stumbleupon:link,
.btn-stumbleupon:visited {
    color: #fff
}

.btn-stumbleupon:active,
.btn-stumbleupon:hover {
    background: #c7371e;
    color: #fff
}

.btn-linkedin {
    background: #0e76a8;
    border-radius: 0;
    color: #fff
}

.btn-linkedin:link,
.btn-linkedin:visited {
    color: #fff
}

.btn-linkedin:active,
.btn-linkedin:hover {
    background: #0b6087;
    color: #fff
}

.btn-search,
.btn-white {
    color: #222;
    background: #fff;
    border: 1px solid #ccc
}

.btn-search.active,
.btn-search:active,
.btn-white.active,
.btn-white:active {
    background-color: #ccc;
    color: #222;
    border: 1px solid #ccc
}

.btn-search:hover,
.btn-white:hover {
    color: #222;
    background: #ccc;
    border: 1px solid #ccc
}

.social-icons {
    margin-top: 0
}

.social-icons img {
    margin-top: 5px
}

.panel {
    margin-bottom: 10px
}

.panel-default {
    border: 1px solid #222
}

.panel-default>.panel-heading {
    background: #222;
    border: 1px solid #222;
    color: #fff
}

p.take-note {
    font-size: 110%
}

.panel-primary-lite {
    border-color: #7ac9ed
}

.panel-primary-lite>.panel-heading {
    color: #fff;
    background-color: #7ac9ed;
    border-color: #7ac9ed
}

.label-javascript,
.label-javascript[href]:focus,
.label-javascript[href]:hover {
    background-color: #F0DB4F
}

.label-html,
.label-html[href]:focus,
.label-html[href]:hover {
    background-color: #E54D26
}

.label-css,
.label-css[href]:focus,
.label-css[href]:hover {
    background-color: #016FBA
}

.label-php,
.label-php[href]:focus,
.label-php[href]:hover {
    background-color: #6C7EB7
}

.label-sass,
.label-sass[href]:focus,
.label-sass[href]:hover {
    background-color: #C69
}

.panel-info {
    border: 1px solid #dc4169
}

.panel-info>.panel-heading {
    background: #dc4169;
    border: 1px solid #dc4169;
    color: #fff
}

.panel .center {
    text-align: center
}

.share-sidebar {
    margin-bottom: 10px
}

.share-sidebar .btn {
    margin-top: 0;
    margin-bottom: 0
}

.content img,
.main img {
    display: block;
    max-width: 100%;
    height: auto
}

.author {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px
}

.btn-reddit {
    background: #ee3825;
    border-radius: 0;
    color: #fff
}

.btn-reddit:link,
.btn-reddit:visited {
    color: #fff
}

.btn-reddit:active,
.btn-reddit:hover {
    background: #e1261c;
    color: #fff
}

.btn-email {
    background: #111;
    border-radius: 0;
    color: #fff
}

.btn-email:link,
.btn-email:visited {
    color: #fff
}

.btn-email:active,
.btn-email:hover {
    background: #000;
    color: #fff
}

.page-header h2 {
    font-weight: bold;
    color: #ffb648
}

.pagination {
    position: relative;
    width: 100%;
    margin: 4rem auto;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    color: #9EABB3;
    text-align: center
}

.pagination a {
    color: #9EABB3;
    transition: all .2s ease
}

.pagination a:hover {
    text-decoration: none
}

.newer-posts,
.older-posts {
    position: absolute;
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #bfc8cd;
    text-decoration: none;
    border-radius: 4px;
    transition: border .3s ease
}

.page-number {
    display: inline-block;
    padding: 2px 0;
    min-width: 100px
}

.older-posts {
    right: 0
}

.newer-posts {
    left: 0
}

.newer-posts:hover,
.older-posts:hover {
    color: #889093;
    border-color: #98a0a4
}

.extra-pagination {
    display: none;
    border-bottom: #EBF2F6 1px solid
}

.extra-pagination:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: 1px solid #E7EEF2;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: #FFF;
    border-radius: 100%;
    box-shadow: #FFF 0 0 0 5px
}

.extra-pagination .pagination {
    width: auto
}

@media only screen and (max-width:500px) {
    .pagination {
        width: auto;
        margin: 2rem auto
    }
}

.btn-outline-black,
.btn-outline-black:link,
.btn-outline-black:visited {
    background-color: transparent;
    border-radius: 0;
    color: #222;
    border: 2px solid #222
}

.btn-outline-black:active,
.btn-outline-black:hover {
    background-color: #222;
    color: #fff
}

.btn-outline-black.btn-lg {
    border: 3px solid #222
}

.btn-outline-black.btn-sm,
.btn-outline-black.btn-xs {
    border: 1px solid #222
}

.btn {
    font-size: 100%;
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 3px;
    box-shadow: inset 0 -1.2px rgba(0, 0, 0, 0.12);
    outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -moz-outline: none;
    text-transform: uppercase
}

.btn-outline-grey,
.btn-outline-grey:link,
.btn-outline-grey:visited {
    background-color: transparent;
    border-radius: 0;
    color: #939598;
    border: 2px solid #939598
}

.btn-outline-grey:active,
.btn-outline-grey:hover {
    background-color: #939598;
    color: #fff
}

.btn-outline-grey.btn-lg {
    border: 3px solid #939598
}

.btn-outline-grey.btn-sm,
.btn-outline-grey.btn-xs {
    border: 1px solid #939598
}

.panel-warning {
    border-color: #f80
}

.panel-warning>.panel-heading {
    color: #fff;
    background-color: #f80;
    border-color: #ff7518
}

a.read-more,
a.read-more:active,
a.read-more:link,
a.read-more:visited {
    color: #fa9700
}

a.read-more:hover {
    color: #222
}

@media screen and (max-width:1023px) {
    .col-sm-12 .post-image.img-responsive,
    .col-xs-12 .post-image.img-responsive {
        display: none
    }
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:link,
.navbar-default .navbar-nav>li>a:visited,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:hover {
    text-transform: uppercase;
    font-size: 90%
}

.alert-top {
    margin: 0;
    text-align: center;
    font-size: 90%;
    border: 1px solid #A4CD38;
    padding-top: 8px;
    padding-bottom: 8px
}

.alert-success a.alert-link,
.alert-success a.alert-link:link,
.alert-success a.alert-link:visited,
.alert-success a.alert-link:active,
.alert-success a.alert-link:hover {
    color: #eff7dd
}

.btn-lg {
    font-size: 100%;
    padding: 20px 25px;
    font-weight: 600;
    border-radius: 3px;
    box-shadow: inset 0 -1.2px rgba(0, 0, 0, 0.12);
    outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -moz-outline: none;
}

.takenote-footer {
    background: #333;
    position: relative;
    margin: 6rem 0 0;
    padding: 3rem 15px;
    border-top: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
    text-align: center
}

.site-footer {
    background: #222;
    position: relative;
    margin: 0;
    padding: 6rem 15px 6rem;
    border-top: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.75em;
    color: #747474;
    text-align: center
}

.site-footer a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 80%;
    padding-left: 15px;
    padding-right: 15px
}

.site-footer a:hover {
    color: #fff;
    text-decoration: underline
}

.copyright {
    display: block;
    width: 100%;
    float: center;
    font-size: 110%
}

a.backtotop,
a.backtotop:link,
a.backtotop:visited,
a.backtotop:active,
a.backtotop:hover {
    display: none
}

@media screen and (max-width:767px) {
    a.backtotop,
    a.backtotop:link,
    a.backtotop:visited,
    a.backtotop:active,
    a.backtotop:hover {
        display: block;
        color: #fff;
        margin-bottom: 50px;
        text-transform: none;
        font-size: 100%
    }
}

pre {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 1.75em;
    border: 1px solid #E3EDF3;
    width: 100%;
    padding: 15px 20px;
    font-size: .9em;
    white-space: pre;
    overflow: auto;
    background: #F7FAFB;
    border-radius: 3px
}

.takenote-footer a {
    padding-left: 2.5px;
    padding-right: 2.5px
}

.takenote-footer img {
    border-radius: 6px
}

.takenote-footer img:hover {
    opacity: 0.7;
    filter: alpha(opacity=70)
}

.input-extrapadding {
    padding: 22px 12px 24px;
    line-height: 1.8;
    border-radius: 3px;
    box-shadow: inset 0 -1.2px rgba(0, 0, 0, 0.12);
    outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -moz-outline: none;
}

@media screen and (max-width:479px) {
    .jumbotron h1 {
        font-size: 40px
        font-weight: 500;
    }
}

.author-box {
    margin-bottom: 25px
}
